body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}


.header {
    width:100%;
    height:89px;
    padding:0 164px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    /*align-items:flex-start.....flex-end,center*/
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    left:0;
    top:0;

}



.links {
   /* float: right;
   display:block
   display:inline;
   display:inline-block;
   display:inline-block;
   margin-left: 100px;
   Лучшее свойсвто -display:flex;
   flex-direction: row;(column)row-reverse.column-reverse-меняют в обратную сторону
   justify-content:flex-start,end-либо влево либо вправо прилипают,center-элементы в центре;space-around-между элементами одинаковый отступ,flex playgrond-сайт*/
   
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    font-size:17px;
    color:#736f6e;
    margin-right: 38px;
}


.login {
    border:none;
    outline:none;
    cursor: pointer;
    width:87px;
    height: 27px;
    background-color: #de6d6e;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    margin-left: 4px;


}

.banner {
    width: 100%;
    height:588px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;
    color: white;
    padding-bottom: 85px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
   
}
/*.banner_img {
    width: 100%;
    height: 100%
    justify-content-горизонт
    aligh-items вертикально;

}*/

.title {
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 800;

}

.title_small {
    font-size: 25px;


}
.info {
    width: 100%;
    height: 469px;
    box-shadow: rgba(0, 0, 0, .3);
    display:flex;
    flex-direction: column;
    
    align-items:center;
    padding-top: 66px;
    box-sizing: border-box;
}

.info_title {
    color:#404040;
    font-size: 25px;
    margin-bottom: 30px;
}

/*git init,git pull,clone,git push
git init-commit|repository ,git clone-commit-git push,git commit -m,min-320px*/

.menu {
    width:40px;
    height: 40px;
    border:2px solid #404040;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display:none;
    justify-content: center;
    align-items: center;
}
.line {
    width:25px;
    height: 3px;
    background-color: #404040;
    position: relative;
    transition:.4s;
}

.line::after{
    content:'';
    width:25px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left:0;
    top:8px;
    transition:.4s;
}
.line::before{
    content:'';
    width:25px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left:0;
    bottom:8px;
    transition:.4s;
}

.menu:hover> .line{
    background-color: transparent;

}

.menu:hover>.line::after {
    transform: rotate(-45deg);
    top:0;
}
.menu:hover>.line::before {
    transform: rotate(45deg);
    bottom:0;
}

.info_text {
    width:830px;
    text-align: center;
}
.circles{
    width: 100%;
    padding:0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}
.card {
    border-radius: 50%;
    width: 179px;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.card>img{
    margin-bottom: 12px;
}

.blue {
    background-color: #4eb9f4;

}

.green {
    background-color: #6fc125;
}

.red {
    background-color: #ff5649;
}
.orange {
    background-color: #e48f23;
}
@media screen and (max-width: 980px) {
    .header{
        padding:0 20px;
    }

}
@media screen and (max-width:710px){
    .links {
        display:none;

    }
    .header {
        flex-direction: row-reverse;
    }
    .menu {
        display:flex;
    }
    
}
